<div class="service-select">
  <div class="service-select__card">
    <div class="service-select__logo-box">
      <img class="service-select__logo" src="../../../assets/images/sign.png" alt="簽屬文件">
    </div>
    <p class="service-select__text">簽屬文件</p>
  </div>
  <div class="service-select__card">
    <div class="service-select__logo-box">
      <img class="service-select__logo" src="../../../assets/images/add-sign.png" alt="建立簽名檔">
    </div>
    <p class="service-select__text">建立簽名檔</p>
  </div>
</div>
