@import '../../../assets/styles/variable';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/components';

.container {
  width: 100%;
  height: calc(100vh - #{$header-height});
  padding: 0 $container-padding-desktop;
  padding-top: 4rem;
}

.tab {
  display: flex;
  align-items: center;
  width: 100%;
  height: $tab-height;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    border-bottom: 1px solid $color-tab-gary-dark;
    color: $color-tab-gary-light;
    cursor: pointer;
    transition: all .3s;

    &_active{
      border-bottom: 1px solid $color-primary;
      border-radius: 4px;
      background-color: rgba($color-white, .15);
    }
  }

  &__text {
    font-weight: 500;
    letter-spacing: .2em;
    // color: $color-white;

    @include h5-font('lg');

    @include response('tablet') {
      @include h5-font('md');
    }

    @include response('phone') {
      @include h5-font('sm');
    }
  }


  &__item:hover &__text{
    opacity: .7;
  }

  &__item_active &__text{
    color: $color-white;
  }
}
