<div class="add-sign-content">
  <div class="add-sign-content__header">
    <p class="add-sign-content__title">我的簽名檔</p>
    <button class="btn btn_dark add-sign-content__title-btn" [class.btn_dark-disabled]="signautreService.isSign1Isset && signautreService.isSign2Isset" (click)="addSignature()">新增</button>
  </div>
  <div class="add-sign-content__container" id="1" [hidden]="!signautreService.isSign1Isset">
    <div class="add-sign-content__box">
      <div class="add-sign-content__sign" #signCanvasContainer1>
        <canvas class="add-sign-content__canvas" #signCanvas1></canvas>
      </div>
      <button class="btn btn_transparent" (click)="deleteSign(1)">刪除</button>
    </div>
  </div>
  <div class="add-sign-content__container" id="2" [hidden]="!signautreService.isSign2Isset">
    <div class="add-sign-content__box">
      <div class="add-sign-content__sign" #signCanvasContainer2>
        <canvas class="add-sign-content__canvas" #signCanvas2></canvas>
      </div>
      <button class="btn btn_transparent" (click)="deleteSign(2)">刪除</button>
    </div>
  </div>
  <p *ngIf="signautreService.isSign1Isset && signautreService.isSign2Isset" class="add-sign-content__notice-text">您的簽名檔已達兩則上限</p>
</div>
