@import '../../../assets/styles/variable';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/components';

.sign-text-content {
  position: relative;
  display: flex;
  width: 100%;
  height: calc(100% - #{$tab-height});
  padding-top: 6.8rem;
  padding-bottom: 4rem;

  &__process-box {
    flex: 0 1 45rem;
  }

  &__file-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 70rem;
    height: 100%;
  }

  &__upload {
    width: 100%;
    height: calc(100% - 7rem);
    border: 1px solid $color-primary;
    background-color: rgba($color-white, .95);
  }

  &__footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
  }

  &__upload-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 7rem;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 1px solid $color-black;
  }

  &__pdf {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 7rem);
    overflow: auto;
  }

  &__notice {
    margin-right: 1.5rem;
    color: $color-gray-dark2;
    letter-spacing: .065em;
    @include caption-font(lg);
  }

  &__notice-text {
    font-weight: 400;
    letter-spacing: 0.1em;
    color: $color-gray-light1;
    @include caption-font(lg);
  }
}

.process {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 25%;

  &__line {
    position: absolute;
    right: calc(25% + 2.1rem);
    width: 1px;
    height: 100%;
    background-color: $color-btn-shadow;
    z-index: 100;
  }

  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 500;
    @include button-font(lg);
  }

  &__item_active &__text {
    background-color: transparent;
  }

  &__item_active &__step {
    color: $color-secondary;
    background-color: $color-btn-shadow;
  }

  &__text {
    margin-right: 1.6rem;
    color: $color-white;
    letter-spacing: 0.2em;
  }

  &__step {
    position: relative;
    width: 4.2rem;
    height: 4.2rem;
    border: 1px solid $color-btn-shadow;
    border-radius: 50%;
    text-align: center;
    line-height: 4.2rem;
    color: $color-btn-shadow;
    background-color: $color-gray-dark1;
    z-index: 150;
    transition: all .4s;
  }
}

.upload-input {
  display: none;
}

.pdf-viewer, .canvas-viewer {
  width: 100%;
  height: 100%;
}

.signature {
  width: 100%;
  height: calc(100% - 7rem);
  border: 1px solid $color-primary;
  background-color: rgba($color-white, .95);

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10rem;
  }

  &__title {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: $color-gray-light1;
    @include caption-font(lg);

    &_href {
      color: $color-secondary;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__canvas-container {
    width: 80%;
    height: calc(100% - 25rem);
    margin: 0 auto;
  }

  &__canvas {
    width: 100%;
    height: 100%;
    border: 1px solid $color-tab-gary-light;
  }

  &__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15rem;
    padding: 0 36%;
  }
}

.marge {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100% - 7rem);
  border: 1px solid $color-primary;
  background-color: rgba($color-white, .95);
  overflow: auto;

  &__canvas {
    width: 100%;
    height: 100%;
  }
}

.signature-pop-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-black, .6);
  z-index: 500;
}

.signature-pop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 58.7rem;
  padding: 8.4rem 11.1rem;
  border: 5px solid $color-primary;
  background-color: $color-white;
  border-radius: 5px;
  z-index: 480;

  &__title {
    margin-bottom: 6rem;
    font-weight: 400;
    font-size: 4rem;
    letter-spacing: 0.065em;
    color: $color-secondary;
    text-align: center;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 6.5rem;
    }
  }

  &__img-box {
    width: 60%;
    height: 10.3rem;
    border: 3px solid $color-primary;
    border-radius: 5px;
    margin-right: 4rem;
  }

  &__img {
    width: 100%;
  }

  &__close-box {
    position: absolute;
    top: .5rem;
    right: .5rem;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
  }

  &__close-box:hover &__close {
    opacity: .7;
  }

  &__close {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 3rem;
    height: 2px;
    background-color: $color-tab-gary-light;

    &:nth-child(1) {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:nth-child(2) {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
