<div class="history">
  <div class="file-item" *ngIf="signautreService.saveUrl1 !== ''">
    <p class="file-item__title">PDF 1</p>
    <div class="file-item__pdf">
      <img class="file-item__pdf-file" src="{{signautreService.saveUrl1}}" alt="">
    </div>
    <div class="file-item__footer">
      <button class="file-item__btn btn btn_transparent" (click)="signautreService.saveUrl1 = ''">刪除</button>
      <button class="file-item__btn btn btn_dark" (click)="download(signautreService.saveUrl1)">下載</button>
    </div>
  </div>
  <div class="file-item" *ngIf="signautreService.saveUrl2 !== ''">
    <p class="file-item__title">PDF 2</p>
    <div class="file-item__pdf">
      <img class="file-item__pdf-file" src="{{signautreService.saveUrl2}}" alt="">
    </div>
    <div class="file-item__footer">
      <button class="file-item__btn btn btn_transparent" (click)="signautreService.saveUrl2 = ''">刪除</button>
      <button class="file-item__btn btn btn_dark" (click)="download(signautreService.saveUrl2)">下載</button>
    </div>
  </div>
  <div class="file-item" *ngIf="signautreService.saveUrl3 !== ''">
    <p class="file-item__title">PDF 3</p>
    <div class="file-item__pdf">
      <img class="file-item__pdf-file" src="{{signautreService.saveUrl3}}" alt="">
    </div>
    <div class="file-item__footer">
      <button class="file-item__btn btn btn_transparent" (click)="signautreService.saveUrl3 = ''">刪除</button>
      <button class="file-item__btn btn btn_dark" (click)="download(signautreService.saveUrl3)">下載</button>
    </div>
  </div>
  <div class="file-item" *ngIf="signautreService.saveUrl !== ''">
    <p class="file-item__title">PDF 4</p>
    <div class="file-item__pdf">
      <img class="file-item__pdf-file" src="{{signautreService.saveUrl}}" alt="">
    </div>
    <div class="file-item__footer">
      <button class="file-item__btn btn btn_transparent" (click)="signautreService.saveUrl = ''">刪除</button>
      <button class="file-item__btn btn btn_dark" (click)="download(signautreService.saveUrl)">下載</button>
    </div>
  </div>
</div>
