$color-primary: #F8EAA3;
$color-primary-dark: #FCD20D;
$color-primary-hover: #CB9B0C;
$color-btn-hover: #F5E076;
$color-btn-shadow: #FFEC8A;
$color-secondary: #043951;
$color-secondary-dark: #00212D;
$color-tab-gary-light: #BFBFBF;
$color-tab-gary-dark: #8E8E8E;
$color-tab-gary-dark2: #B4B4B4;
$color-tab-gary-dark3: #515151;
$color-gray-dark1: #464646;
$color-gray-dark2: #424242;
$color-gray-light1: #6F6F6F;
$color-white: #fff;
$color-black: #000;

$header-height: 11rem;
$container-padding-desktop: 7.2rem;
