$color-primary: #F8EAA3;
$color-primary-dark: #FCD20D;
$color-primary-hover: #CB9B0C;
$color-btn-hover: #F5E076;
$color-btn-shadow: #FFEC8A;
$color-secondary: #043951;
$color-secondary-dark: #00212D;
$color-white: #fff;

$header-height: 11rem;
